@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Снова в школу</h1>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" asp-action="Index">
                <div class="form-group">
                    <label class="control-label">Логин</label>
                    <input asp-for="Name" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Пароль</label>
                    <input asp-for="Password" class="form-control" type="password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Авторизация" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Регистрация      " />
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>*@
