@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center mt-5">
        <h1 class="display-4">Добро пожаловать на сайт нашей школы!</h1>
    </div>

    <div class="row mt-5">
        <div class="col-3 p-4">
            <img class="dance w-100" src="~/images/dance.jpg" />
            <h4 class="text-center mt-3">Танцы</h4>
        </div>
        <div class="col-3 p-4">
            <img class="vocal w-100" src="~/images/vocal.jpg" />
            <h4 class="text-center mt-3">Пение</h4>
        </div>
        <div class="col-3 p-4">
            <img class="instrument w-100" src="~/images/instrument.jpg" />
            <h4 class="text-center mt-3">Музыкальные инструменты</h4>
        </div>
        <div class="col-3 p-4">
            <img class="art w-100" src="~/images/art.jpg" />
            <h4 class="text-center mt-3">Изобразительное искусство</h4>
        </div>
    </div>
   


@**@
