@model SchoolBusinessLogic.BindingModel.SocietyBindingModel

@{
    ViewData["Title"] = "Создать кружок";
}

<h1>Создать кружок</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SocietyName" class="control-label">Кружок:</label>
                <input asp-for="SocietyName" class="form-control" />
                <span asp-validation-for="SocietyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeLimit" class="control-label">Возрастное ограничение:</label>
                <input asp-for="AgeLimit" class="form-control" />
                <span asp-validation-for="AgeLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Стоимость:</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lessons" class="control-label">Занятие</label>
                <select asp-for="Lessons" class ="form-control" multiple asp-items="ViewBag.LessonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
