@model SchoolBusinessLogic.BindingModel.ReportBindingModel

@{ ViewData["Title"] = "Edit"; }

<div class="text-center mt-5">
    <h1>Получить отчёт</h1>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label">С</label>
                <input asp-for="DateFrom" class="form-control" />
                <label asp-for="DateTo" class="control-label">по</label>
                <input asp-for="DateTo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сформировать" onclick="refresh()" asp-action="MakeReport" class="btn btn-primary mt-5" />
            </div>
            <div class="form-group">
                <input type="submit" value="Отправить на почту" asp-action="SendMail" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
    <div class="embed-responsive embed-responsive-16by9 col-8">
        <iframe class="embed-responsive-item w-100" hidden src="~/list/societiesList.pdf" allowfullscreen id="frame"></iframe>
    </div>
</div>

<div>
    <a asp-action="Index" class="mt-3">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 
<script>
    function refresh() {
        var frame = document.getElementById("frame");
        frame.hidden = false;
        frame.src = frame.src + "?unique=" + new Date().getTime();
        frame.style.height = '700px';
    }
       @if (ViewBag.CheckingReport != null)
       {
          <text> window.onload = refresh; </text>
       }
</script> 
    


