@model SchoolBusinessLogic.BindingModel.ReportBindingModel

@{ ViewData["Title"] = "Edit"; }

<h1>Получить список</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SocietyId" class="control-label"></label>
                <select asp-for="SocietyId" id="lesson" class="form-control" mu asp-items="ViewBag.SocietyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Получить doc" asp-action="MakeListDoc" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Получить xls" asp-action="MakeListXls" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

