@model SchoolBusinessLogic.BindingModel.PaymentBindingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Оплата</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Внесённая сумма:</label>
                <input asp-for="Sum" class="form-control" id="sum" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Всего к оплате</label>
                <input id="fullSum" readonly class="form-control" value="ViewBag.FullSum"  />
            </div>
            <div class="form-group">
                <label asp-for="LessonId" class="control-label">Занятие</label>
                <select asp-for="LessonId" id="lesson" class="form-control" asp-items="ViewBag.LessonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Оплатить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@*<script>
    $('#sum').on('change', function () {
        check();
    });

    $('#lesson').on('change', function () {
        check();
    });

    function check() {
        var sum = $('#sum').val();
        var fullSum = $('#fullSum').val();
        if (sum) {
            $("#fullSum").val(fullSum - sum);
        };
    }
</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
